# This includes, in order:
# - Shell code formatter
# - Shell linter (primarily bash)
use guix shfmt shellcheck

# This includes, in order:
# - Nix language server
# - Nix formatter
# - Nix linter
# - Hyprland language server
# - Bash language server (this one has a descriptive name)
use nix -p nixd nixfmt-rfc-style statix hyprls bash-language-server
