# This includes, in order:
# - Nix language server
# - Nix formatter
# - Nix linter
# - Hyprland language server
# - Bash language server (this one has a descriptive name)
# - WebDev language server kit from VSCode
use nix -p nixd nixfmt-rfc-style statix hyprls bash-language-server vscode-langservers-extracted
