@import "matugen.css";

* {
  border: none;
  border-radius: 0;
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
  min-height: 0;
  padding: 0;
}

window#waybar {
  background: transparent;
  color: @primary;
}

tooltip {
  background: @surface;
  border: 1px solid @primary;
  border-radius: 24px;
}

tooltip label {
  color: @primary;
}

/* Modules with no pill. */

#custom-screen-record {
  color: @error;
  font-size: 18px;
  margin: 0 5px;
  padding: 0 5px;
}

/* Modules with pill. */

#workspaces {
  transition: all 1050ms ease-in-out;
}

#workspaces button {
  background: @surface;
  border-radius: 24px;
  color: @primary;
  margin: 0 2px;
  padding: 0 5px;
  transition: all 200ms ease-in-out;
}

#workspaces button.active {
  border: 1px solid @primary;
  font-weight: bold;
  min-width: 50px;
}

#clock,#custom-launcher {
  background: @surface;
  border-radius: 24px;
  font-size: 18px;
  margin: 0 5px;
  padding: 0 5px;
}

#wireplumber,#backlight,#battery,#network {
  background: @surface;
  border-radius: 24px;
  margin: 0 5px;
  padding: 0 5px;
}

/* Material Design seems to have no concept of "warning". */
#battery.warning {
    border-top: 3px solid orange;
    color: orange;
}

#pulseaudio.muted,#wireplumber.muted,#network.disconnected,#battery.critical {
    color: @error;
}
